---
import type { LandingContent } from "../data/locales";
import { siteConfig } from "../config/site";

interface Props {
  content: LandingContent;
}

const { content } = Astro.props;
---

<section class="cta" id="cta">
  <h2 class="cta-title" set:html={content.cta.titleHtml} />
  <form class="cta-form" data-lead-form data-from="input-email" novalidate>
    <div class="cta-input-shell">
      <div class="cta-input-row">
        <svg class="cta-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path
              d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z"
              stroke="white"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M14.375 16.25C13.1867 17.0398 11.5336 17.5 10 17.5C8.51664 17.5 7.0666 17.0601 5.83323 16.236C4.59986 15.4119 3.63856 14.2406 3.07091 12.8701C2.50325 11.4997 2.35472 9.99168 2.64411 8.53683C2.9335 7.08197 3.64781 5.7456 4.6967 4.6967C5.7456 3.64781 7.08197 2.9335 8.53683 2.64411C9.99168 2.35472 11.4997 2.50325 12.8701 3.07091C14.2406 3.63856 15.4119 4.59986 16.236 5.83323C17.0601 7.0666 17.5 8.51664 17.5 10C17.5 11.7258 16.875 13.125 15.3125 13.125C13.75 13.125 13.125 11.7258 13.125 10V6.875"
              stroke="white"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0"><rect width="20" height="20" fill="white"></rect></clipPath>
          </defs>
        </svg>
        <input type="email" name="email" placeholder={content.cta.placeholder} required autocomplete="email" />
      </div>
    </div>
    {
      siteConfig.turnstileSiteKey && (
        <div
          class="cf-turnstile"
          data-sitekey={siteConfig.turnstileSiteKey}
          data-appearance="interaction-only"
          data-size="flexible"
        />
      )
    }
    <button type="submit">{content.cta.submit.label}</button>
  </form>
  <p class="cta-note" set:html={content.cta.noteHtml} />
</section>
